#menu{background: url(../images/back1.jpg);padding: 52px 0;
    background-position: center; background-size: cover;}
#menu img{width: 100px;margin-top: 10px;}
#menu .navbar{margin: 10px 0;}
#menu .navbar-default{background: transparent;border:0;}
#menu .navbar-nav > li > a{font-weight: bold;}
#menu .navbar-brand{font-family: 'Indie Flower', cursive;}
.navbar-default .navbar-nav>li>a{color: #333;}
.navbar-default .navbar-nav>li>a:hover{background: #34495e;color: #fff;-webkit-transition: background 2s linear;
-moz-transition: background 2s linear;
-ms-transition: background 2s linear;
-o-transition: background 2s linear;
transition: background 2s linear;}
#menu .navbar-brand {color: #333}
#border{border: 1px solid #333;margin-bottom: 20px}
#borders{border: 1px solid #333;margin: 60px 20px;}
#ims {margin-top: 50px;}
#ims h1{margin-bottom: 20px}
#ims img{margin: 20px 0; width: 20px}
.btn-group-xs>.btn, .btn-xs{margin: 20px 0}
article{background: #7f8c8d;}
article h2{color: #fff;}
article h1{color: #333;margin-bottom: 10px}
article .contact{margin-bottom: 30px}
article .profil p{margin: 10px 0;color: #fff}
article address {font-size: 25px;color: #333;margin-bottom: 20px}
article .client{background: #fff;}
article .client img{width: 200px}
footer{position: fixed;bottom: 0;}
/**.embed-responsive {position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;}
